:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #000000;
  margin: 0;
  padding: 0;

  /* Tactical Touch Reset */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  display: block;
  overflow-x: hidden;
  /* Double down on hiding scrollbars */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root::-webkit-scrollbar {
  display: none;
}